### 前两次讨论练习
1. 请以某私募或公募净值数据为例，完成年化收益率、年化波动率、夏普比率、期间收益率的计算
2. 阅读empyrical中各个函数的帮助文档
3. 搞清楚empyrical.cum_returns以及empyrical.cum_returns_final的区别

### Python 函数

- [调用函数](https://www.liaoxuefeng.com/wiki/1016959663602400/1017105451316128)
- [定义函数](https://www.liaoxuefeng.com/wiki/1016959663602400/1017106984190464)
- [函数的参数](https://www.liaoxuefeng.com/wiki/1016959663602400/1017261630425888)
- [递归函数](https://www.liaoxuefeng.com/wiki/1016959663602400/1017268131039072)

### 调用函数

### 定义函数

1. **params**
<br>**return**

In [1]:
def my_abs(x):
    if x >= 0:
        return x
    else:
        return -x

In [18]:
def print_a_word(mystr):
    print(mystr)

In [19]:
a = print_a_word("mysord")

mysord

In [20]:
a

In [3]:
def my_caculate():
    pass

In [2]:
print_hello_world()

Hello, World

2. **pass**

3. **param test**
<br>raise Error(message)

In [5]:
def my_abs(x):
    if not isinstance(x, (int, float)):
        raise TypeError('x is not int or float')
    if x >= 0:
        return x
    else:
        return -x

In [8]:
my_abs(-1)

1

4. **return mutiple value**

In [4]:
import math

def move(x, y, step, angle=0):
    nx = x + step * math.cos(angle)
    ny = y - step * math.sin(angle)
    return nx, ny

5. **attention: name**
<br>good name: 
    - simple(not too long)
    - verb(represent an action:db_connect)
    - consistency(metrics_ret, metrics_vol...)

### 函数的参数

1. 默认参数
    - 一是必选参数在前，默认参数在后，否则Python的解释器会报错（思考一下为什么默认参数不能放在必选参数前面）；

    - 二是如何设置默认参数:当函数有多个参数时，把变化大的参数放前面，变化小的参数放后面。变化小的参数就可以作为默认参数。

2. 可变参数
    - \*args, *kwargs

In [11]:
def f1(a, b, c=0, *args, **kwargs):
    print('a =', a, 'b =', b, 'c =', c, 'args =', args, 'kw =', kw)

In [13]:
 f1(1, 2,4, 5, d=99, ext=None)

a = 1 b = 2 c = 4 args = (5,) kw = {'d': 99, 'ext': None}

### 递归函数

使用递归函数需要注意防止栈溢出。在计算机中，函数调用是通过栈（stack）这种数据结构实现的，每当进入一个函数调用，栈就会加一层栈帧，每当函数返回，栈就会减一层栈帧。由于栈的大小不是无限的，所以，递归调用的次数过多，会导致栈溢出。

def fact(n):
    if n==1:
        return 1
    return n * fact(n - 1)

===> fact(5)
===> 5 * fact(4)
===> 5 * (4 * fact(3))
===> 5 * (4 * (3 * fact(2)))
===> 5 * (4 * (3 * (2 * fact(1))))
===> 5 * (4 * (3 * (2 * 1)))
===> 5 * (4 * (3 * 2))
===> 5 * (4 * 6)
===> 5 * 24
===> 120

解决递归调用栈溢出的方法是通过尾递归优化，事实上尾递归和循环的效果是一样的，所以，把循环看成是一种特殊的尾递归函数也是可以的。

尾递归是指，在函数返回的时候，调用自身本身，并且，return语句不能包含表达式。这样，编译器或者解释器就可以把尾递归做优化，使递归本身无论调用多少次，都只占用一个栈帧，不会出现栈溢出的情况。

In [15]:
def fact(n):
    return fact_iter(n, 1)

def fact_iter(num, product):
    if num == 1:
        return product
    return fact_iter(num - 1, num * product)

In [16]:
fact(5)

120

===> fact_iter(5, 1)
===> fact_iter(4, 5)
===> fact_iter(3, 20)
===> fact_iter(2, 60)
===> fact_iter(1, 120)
===> 120

## 不同期间产品绩效评估

In [1]:
import dateutil

In [2]:
import pandas as pd
data = pd.read_excel('XX1号产品净值-20190404.xlsx', skiprows=1)
nav = pd.Series(data.iloc[:, 1])
nav.set_axis(data.iloc[:, 0], inplace = True)

In [3]:
import empyrical
ret = empyrical.simple_returns(nav)

In [4]:
ret

日期
2016-02-05   -0.009849
2016-02-15   -0.006667
2016-02-16    0.040327
2016-02-17    0.011223
2016-02-18    0.002699
2016-02-19   -0.003493
2016-02-22    0.017280
2016-02-23   -0.004123
2016-02-24    0.006296
2016-02-25    0.088244
2016-02-26    0.010295
2016-02-29   -0.013865
2016-03-01    0.029689
2016-03-02    0.068944
2016-03-03    0.002863
2016-03-04    0.026789
2016-03-07    0.025929
2016-03-08   -0.002295
2016-03-09   -0.011139
2016-03-10   -0.019209
2016-03-11    0.003188
2016-03-14   -0.040276
2016-03-15    0.005891
2016-03-16    0.012114
2016-03-17    0.011684
2016-03-18    0.007793
2016-03-21    0.026887
2016-03-22   -0.001683
2016-03-23    0.004661
2016-03-24   -0.017784
                ...
2019-02-22    0.009173
2019-02-25    0.015910
2019-02-26   -0.001495
2019-02-27   -0.003742
2019-02-28    0.002405
2019-03-01   -0.007565
2019-03-04    0.003160
2019-03-05    0.027020
2019-03-06    0.015180
2019-03-07    0.006360
2019-03-08   -0.025550
2019-03-11    0.015240
2019-03-12    0.019480
2019-03-13   -0.017825
2019-03-14   -0.011400
2019-03-15    0.005360
2019-03-18    0.013740
2019-03-19   -0.003960
2019-03-20    0.002175
2019-03-21    0.008925
2019-03-22    0.006980
2019-03-25    0.007885
2019-03-26   -0.003565
2019-03-27    0.004147
2019-03-28   -0.007330
2019-03-29   -0.012397
2019-04-01    0.050055
2019-04-02   -0.003902
2019-04-03    0.006795
2019-04-04   -0.002700
Name: CTA净值, Length: 769, dtype: float64

In [20]:
from dateutil.relativedelta import relativedelta

In [6]:
date = max(ret.index)
date

Timestamp('2019-04-04 00:00:00')

In [23]:
def add_date(date, months=-0, years = -1):
    dt = date + relativedelta(months = months, years = years)
    return dt

In [13]:
help(relativedelta)

Help on class relativedelta in module dateutil.relativedelta:

class relativedelta(builtins.object)
 |  relativedelta(dt1=None, dt2=None, years=0, months=0, days=0, leapdays=0, weeks=0, hours=0, minutes=0, seconds=0, microseconds=0, year=None, month=None, day=None, weekday=None, yearday=None, nlyearday=None, hour=None, minute=None, second=None, microsecond=None)
 |
 |  The relativedelta type is based on the specification of the excellent
 |  work done by M.-A. Lemburg in his
 |  `mx.DateTime <http://www.egenix.com/files/python/mxDateTime.html>`_ extension.
 |  However, notice that this type does *NOT* implement the same algorithm as
 |  his work. Do *NOT* expect it to behave like mx.DateTime's counterpart.
 |
 |  There are two different ways to build a relativedelta instance. The
 |  first one is passing it two date/datetime classes::
 |
 |      relativedelta(datetime1, datetime2)
 |
 |  The second one is passing it any number of the following keyword arguments::
 |
 |      relativedelta(arg1=x,arg2=y,arg3=z...)
 |
 |      year, month, day, hour, minute, second, microsecond:
 |          Absolute information (argument is singular); adding or subtracting a
 |          relativedelta with absolute information does not perform an aritmetic
 |          operation, but rather REPLACES the corresponding value in the
 |          original datetime with the value(s) in relativedelta.
 |
 |      years, months, weeks, days, hours, minutes, seconds, microseconds:
 |          Relative information, may be negative (argument is plural); adding
 |          or subtracting a relativedelta with relative information performs
 |          the corresponding aritmetic operation on the original datetime value
 |          with the information in the relativedelta.
 |
 |      weekday:
 |          One of the weekday instances (MO, TU, etc). These instances may
 |          receive a parameter N, specifying the Nth weekday, which could
 |          be positive or negative (like MO(+1) or MO(-2). Not specifying
 |          it is the same as specifying +1. You can also use an integer,
 |          where 0=MO.
 |
 |      leapdays:
 |          Will add given days to the date found, if year is a leap
 |          year, and the date found is post 28 of february.
 |
 |      yearday, nlyearday:
 |          Set the yearday or the non-leap year day (jump leap days).
 |          These are converted to day/month/leapdays information.
 |
 |  Here is the behavior of operations with relativedelta:
 |
 |  1. Calculate the absolute year, using the 'year' argument, or the
 |     original datetime year, if the argument is not present.
 |
 |  2. Add the relative 'years' argument to the absolute year.
 |
 |  3. Do steps 1 and 2 for month/months.
 |
 |  4. Calculate the absolute day, using the 'day' argument, or the
 |     original datetime day, if the argument is not present. Then,
 |     subtract from the day until it fits in the year and month
 |     found after their operations.
 |
 |  5. Add the relative 'days' argument to the absolute day. Notice
 |     that the 'weeks' argument is multiplied by 7 and added to
 |     'days'.
 |
 |  6. Do steps 1 and 2 for hour/hours, minute/minutes, second/seconds,
 |     microsecond/microseconds.
 |
 |  7. If the 'weekday' argument is present, calculate the weekday,
 |     with the given (wday, nth) tuple. wday is the index of the
 |     weekday (0-6, 0=Mon), and nth is the number of weeks to add
 |     forward or backward, depending on its signal. Notice that if
 |     the calculated date is already Monday, for example, using
 |     (0, 1) or (0, -1) won't change the day.
 |
 |  Methods defined here:
 |
 |  __add__(self, other)
 |
 |  __bool__(self)
 |
 |  __div__(self, other)
 |
 |  __eq__(self, other)
 |      Return self==value.
 |
 |  __init__(self, dt1=None, dt2=None, years=0, months=0, days=0, leapdays=0, weeks=0, hours=0, minutes=0, seconds=0, microseconds=0, year=None, month=None, day=None, weekday=None, yearday=None, nlyearday=None, hour=None, minute=None, second=None, microsecond=None)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __mul__(self, other)
 |
 |  __ne__(self, other)
 |      Return self!=value.
 |
 |  __neg__(self)
 |
 |  __nonzero__ = __bool__(self)
 |
 |  __radd__(self, other)
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  __rmul__ = __mul__(self, other)
 |
 |  __rsub__(self, other)
 |
 |  __sub__(self, other)
 |
 |  __truediv__ = __div__(self, other)
 |
 |  normalized(self)
 |      Return a version of this object represented entirely using integer
 |      values for the relative attributes.
 |
 |      >>> relativedelta(days=1.5, hours=2).normalized()
 |      relativedelta(days=1, hours=14)
 |
 |      :return:
 |          Returns a :class:`dateutil.relativedelta.relativedelta` object.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  weeks
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [40]:
last_one_and_half_year = add_date(date, months=-6,years = -1)
last_one_and_half_year

Timestamp('2017-10-04 00:00:00')

In [10]:
last_year = add_date(date, years = -1)
last_year

Timestamp('2018-04-04 00:00:00')

In [36]:
ret_one_half=  empyrical.simple_returns(nav[last_one_and_half_year:])

In [38]:
empyrical.annual_return(ret_one_half)

0.6203208306897341

In [39]:
nav[last_one_and_half_year:]

日期
2017-10-09    3.260838
2017-10-10    3.256722
2017-10-11    3.228496
2017-10-12    3.238481
2017-10-13    3.239672
2017-10-16    3.248003
2017-10-17    3.239753
2017-10-18    3.264207
2017-10-19    3.264653
2017-10-20    3.253966
2017-10-23    3.276012
2017-10-24    3.268340
2017-10-25    3.266648
2017-10-26    3.276953
2017-10-27    3.322857
2017-10-30    3.298831
2017-10-31    3.317936
2017-11-01    3.304374
2017-11-02    3.310485
2017-11-03    3.306415
2017-11-06    3.306415
2017-11-07    3.343797
2017-11-08    3.339538
2017-11-09    3.368863
2017-11-10    3.378663
2017-11-13    3.389909
2017-11-14    3.420886
2017-11-15    3.402174
2017-11-16    3.439923
2017-11-17    3.471221
                ...
2019-02-22    5.887465
2019-02-25    5.981135
2019-02-26    5.972193
2019-02-27    5.949842
2019-02-28    5.964151
2019-03-01    5.919033
2019-03-04    5.937737
2019-03-05    6.098174
2019-03-06    6.190745
2019-03-07    6.230118
2019-03-08    6.070938
2019-03-11    6.163459
2019-03-12    6.283524
2019-03-13    6.171520
2019-03-14    6.101165
2019-03-15    6.133867
2019-03-18    6.218146
2019-03-19    6.193522
2019-03-20    6.206993
2019-03-21    6.262391
2019-03-22    6.306102
2019-03-25    6.355826
2019-03-26    6.333167
2019-03-27    6.359434
2019-03-28    6.312819
2019-03-29    6.234556
2019-04-01    6.546627
2019-04-02    6.521079
2019-04-03    6.565389
2019-04-04    6.547663
Name: CTA净值, Length: 365, dtype: float64

In [37]:
ret_one_half

日期
2017-10-10   -0.001263
2017-10-11   -0.008667
2017-10-12    0.003093
2017-10-13    0.000368
2017-10-16    0.002572
2017-10-17   -0.002540
2017-10-18    0.007548
2017-10-19    0.000137
2017-10-20   -0.003273
2017-10-23    0.006775
2017-10-24   -0.002342
2017-10-25   -0.000518
2017-10-26    0.003155
2017-10-27    0.014008
2017-10-30   -0.007230
2017-10-31    0.005791
2017-11-01   -0.004088
2017-11-02    0.001849
2017-11-03   -0.001229
2017-11-06    0.000000
2017-11-07    0.011306
2017-11-08   -0.001274
2017-11-09    0.008781
2017-11-10    0.002909
2017-11-13    0.003328
2017-11-14    0.009138
2017-11-15   -0.005470
2017-11-16    0.011096
2017-11-17    0.009098
2017-11-20    0.010137
                ...
2019-02-22    0.009173
2019-02-25    0.015910
2019-02-26   -0.001495
2019-02-27   -0.003742
2019-02-28    0.002405
2019-03-01   -0.007565
2019-03-04    0.003160
2019-03-05    0.027020
2019-03-06    0.015180
2019-03-07    0.006360
2019-03-08   -0.025550
2019-03-11    0.015240
2019-03-12    0.019480
2019-03-13   -0.017825
2019-03-14   -0.011400
2019-03-15    0.005360
2019-03-18    0.013740
2019-03-19   -0.003960
2019-03-20    0.002175
2019-03-21    0.008925
2019-03-22    0.006980
2019-03-25    0.007885
2019-03-26   -0.003565
2019-03-27    0.004147
2019-03-28   -0.007330
2019-03-29   -0.012397
2019-04-01    0.050055
2019-04-02   -0.003902
2019-04-03    0.006795
2019-04-04   -0.002700
Name: CTA净值, Length: 364, dtype: float64

In [29]:
ret[last_one_and_half_year:]

日期
2017-10-09    0.012734
2017-10-10   -0.001263
2017-10-11   -0.008667
2017-10-12    0.003093
2017-10-13    0.000368
2017-10-16    0.002572
2017-10-17   -0.002540
2017-10-18    0.007548
2017-10-19    0.000137
2017-10-20   -0.003273
2017-10-23    0.006775
2017-10-24   -0.002342
2017-10-25   -0.000518
2017-10-26    0.003155
2017-10-27    0.014008
2017-10-30   -0.007230
2017-10-31    0.005791
2017-11-01   -0.004088
2017-11-02    0.001849
2017-11-03   -0.001229
2017-11-06    0.000000
2017-11-07    0.011306
2017-11-08   -0.001274
2017-11-09    0.008781
2017-11-10    0.002909
2017-11-13    0.003328
2017-11-14    0.009138
2017-11-15   -0.005470
2017-11-16    0.011096
2017-11-17    0.009098
                ...
2019-02-22    0.009173
2019-02-25    0.015910
2019-02-26   -0.001495
2019-02-27   -0.003742
2019-02-28    0.002405
2019-03-01   -0.007565
2019-03-04    0.003160
2019-03-05    0.027020
2019-03-06    0.015180
2019-03-07    0.006360
2019-03-08   -0.025550
2019-03-11    0.015240
2019-03-12    0.019480
2019-03-13   -0.017825
2019-03-14   -0.011400
2019-03-15    0.005360
2019-03-18    0.013740
2019-03-19   -0.003960
2019-03-20    0.002175
2019-03-21    0.008925
2019-03-22    0.006980
2019-03-25    0.007885
2019-03-26   -0.003565
2019-03-27    0.004147
2019-03-28   -0.007330
2019-03-29   -0.012397
2019-04-01    0.050055
2019-04-02   -0.003902
2019-04-03    0.006795
2019-04-04   -0.002700
Name: CTA净值, Length: 365, dtype: float64